
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cheese Shop App</title>
  </head>
  <body>
    <a id="link" href="/products">Browse Cheese Products</a>
    <h1 id="welcome">Welcome to the Cheese Shop app!</h1>
    <p id="descript">An app for tracking inventory of products for your shop.</p>
  </body>
</html>
