<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products Index</title>
  </head>
  <body>
    <a id="link" href="/products/new">Add New Product</a>
    <h1>All Cheese Products</h1>
    <ul id="products">
        <% products.forEach(product => { %>
          <li><a href="/products/<%= product._id %>"><%= product.name %></a></li>
        <% }); %>
      </ul>
  </body>
</html>